<html>
<head>
<title>GasGuz Dashboard</title>
	<script type="text/javascript" src="/public/javascripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/public/javascripts/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/javascripts/Highcharts-2.2.5/js/highcharts.js"></script>
	<script type="text/javascript" src="/public/javascripts/browserSpecificJS.js"></script>
	<link href='../../../public/javascripts/bootstrap/css/bootstrap.min.css' rel="stylesheet">
	<link rel="stylesheet" href="../../../public/javascripts/FontAwesome/css/font-awesome.css">
<style>
.gecko body{
	width:100%;
	height:100%;

}
</style>
<script>var userID= "${pubId}";</script>
#{dynamicReloader /}
</head>
<body style="background:#333">
#{topDashboardNavBar /}


<div id="mainDashboardContainer" class="dashboarContainer" style='position:relative;width:92.5%;height:78%;margin:0 auto;margin-top:0%;z-index:2;	min-width:950px;'>

	#{dashboardTags/navOption1/stationsTag /}
	#{dashboardTags/navOption1/consumpStatsTag /}


</div>






#{authenticityToken /}
</body>
</html>
