<html>
<head>
<title>GasGuz Dashboard</title>
	<script type="text/javascript" src="../../../public/javascripts/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../public/javascripts/jqueryColor.js"></script>
	<script type="text/javascript" src="../../../public/javascripts/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/javascripts/Highcharts-2.2.5/js/highcharts.js"></script>
	<link href='../../../public/javascripts/bootstrap/css/bootstrap.min.css' rel="stylesheet">
	<link rel="stylesheet" href="../../../public/javascripts/FontAwesome/css/font-awesome.css">
#{dynamicReloader /}
</head>
<body style="background:#333">
#{topDashboardNavBar /}

#{dashboardMainContainer /}

<div class="dashboarContainer" style='position:relative;width:92.5%;height:76.5%;margin:0 auto;margin-top:0%;z-index:2;'>

	#{dashboardTags/navOption2/personalInfo /}
	#{dashboardTags/navOption2/paymentMeth /}
	#{dashboardTags/navOption2/accountStats /}
	

</div>


	#{dashboardTags/navOption2/addCCModal /}




</body>
</html>
