<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gasguz?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">gguser</property>
    <property name="hibernate.connection.password">g0tga$2012</property>
    <property name="hibernate.default_schema">gasguz</property>

    <property name="hibernate.current_session_context_class">thread</property>
    <!--property name="hibernate.connection.datasource">java:/comp/env/jdbc/iadmin-test</property-->

    <!-- c3p0 connection pooling -->
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    
    <!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- For debugging -->
    <property name="hibernate.use_sql_comments">true</property>

    <!-- for schemaexport ant task (format option in hbm2dll) -->
    <property name="hibernate.format_sql">true</property>
    

    <mapping resource="AuthorizedUser.hbm.xml"/>
    <mapping resource="GasGrade.hbm.xml"/>
    <mapping resource="GasPrice.hbm.xml"/>
    <mapping resource="Role.hbm.xml"/>
    <mapping resource="Transaction.hbm.xml"/>
    <mapping resource="User.hbm.xml"/>
    <mapping resource="UserGasAmount.hbm.xml"/>
    <mapping resource="UserRole.hbm.xml"/>
    <mapping resource="UserVendor.hbm.xml"/>
    <mapping resource="Vendor.hbm.xml"/>
    <mapping resource="VendorLocation.hbm.xml"/>
     
  </session-factory>
</hibernate-configuration>
