<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>
  <settings>
    <setting name="cacheEnabled" value="false" />
    <setting name="lazyLoadingEnabled" value="false" />
    <setting name="aggressiveLazyLoading" value="false" />
    <setting name="multipleResultSetsEnabled" value="false" />
    <setting name="useColumnLabel" value="true" />
    <setting name="useGeneratedKeys" value="false" />
    <setting name="autoMappingBehavior" value="PARTIAL" />
    <setting name="defaultExecutorType" value="SIMPLE" />
    <setting name="defaultStatementTimeout" value="25000" />
  </settings>

  <environments default="test">
    <environment id="test">
      <transactionManager type="JDBC" />
      <dataSource type="JNDI">
        <property name="initial_context" value="java:comp/env" />
        <property name="data_source" value="jdbc/gasguz-test" />
      </dataSource>
    </environment>
    <environment id="prod">
      <transactionManager type="JDBC" />
      <dataSource type="JNDI">
        <property name="initial_context" value="java:comp/env" />
        <property name="data_source" value="jdbc/gasguz-prod" />
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="com/gasguz/model/mybatis/xml/AuthorizedUserMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/GasGradeMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/GasPriceMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/RoleMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/TransactionMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/UserMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/UserGasAmountMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/UserRoleMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/UserVendorMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/VendorMapper.xml" />
    <mapper resource="com/gasguz/model/mybatis/xml/VendorLocationMapper.xml" />
  </mappers>
</configuration>
