<div id="signupDiv" style="min-height:150px; max-height:25%; height:25%; background:#333; -moz-box-shadow: 10px 10px 5px #000; -webkit-box-shadow: 10px 10px 5px #000;box-shadow: 10px 10px 5px #000;">
<form class="form-inline" >
		<div style="margin-left:17%; width:70%;min-width:400px;max-heigh:80px">
			<h5 style="color:#FFF; text-align:center; font-family:\'Verdana\', Verdana, serif;font-size:16pt; line-height:150%" >We are working to change the way people utilize gas! <br/>
				Interested in particpating? Leave us your email.</h5>
		</div>
		<div style="margin-top:2%">
		  <input id="emailInput" type="text" class="input" style="margin-left:37%; width:20%;height:25%; min-height:30px; min-width:250px; font-size:14pt;" placeholder="Email">
		  <button class="btn-large" style="background:#7ACD28;color:#FFF;margin-left:2%;" onmouseover="this.style.opacity=.75" onmouseout="this.style.opacity=1" onClick="this.style.opacity=1;saveEmail();return false;">Keep Me Posted</button>
		</div>
</form>

</div>